body{
    margin: 0;
    padding: 0;
    background-color: khaki;
}

.item{
    margin:1px;
}

.a{
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b{
    grid-area:b;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.c{
    grid-area:c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d{
    grid-area:d;
}

.e{
    grid-area:e;
}
.ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lin{
    display: flex;
    position: relative;
    left: 200px;
    top:50px;
}

.aa{
    padding:10px;
    background-color: indianred;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    text-decoration: none;
}
.ul{
    list-style: none;
}
.container{
    display: grid;
    height: 100vh;
    border: 1px solid black;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 35% auto 35%;
    grid-template-areas: "a a a"
    "b c d"
    "e e e";
}

.Btn{
    padding:10px;
    background-color: ivory;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    cursor: pointer;
}

.Btn :hover{
    background-color: indianred;
}