body{
    margin: 0;
    padding: 0;
}

.item{
    margin:1px;
}

.a{
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: khaki;
}

.b{
    grid-area:b;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c{
    grid-area:c;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
}

.d{
    grid-area:d;
    background-color: lightgreen;
}

.e{
    grid-area:e;
    background-color: lightgreen;
}

.container{
    display: grid;
    height: 100vh;
    border: 1px solid black;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 35% 30% 35%;
    grid-template-areas: "a a a"
    "b c d"
    "e e e";
}